@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

.logo {
	-webkit-filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white)
		drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);

	filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white)
		drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
}

.list-misi {
	list-style-type: circle;
}

.body-content h1 {
	font-size: 30px;
	font-weight: 700;
}

.navbar-sticky {
	animation: moveDown 0.5s ease-in-out;
}
@keyframes moveDown {
	from {
		transform: translateY(-5rem);
	}
	to {
		transform: translateY(0rem);
	}
}
